<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>title</title>
        <meta name="description" content="description">
        <meta name="keywords" content="keywords">
        
        <!-- og image -->
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="site_name">
        <meta property="og:title" content="title">
        <meta property="og:description" content="description">
        <meta property="og:url" content="http://localhost/index.html">

        <!-- viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- icon -->
        <link rel="shortcut icon" href="../img/favicons/apple-touch-icon.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="../../img/favicons/apple-touch-icon.png"> 

        <!-- Fonts -->
        <link href=""
      rel="stylesheet">
        
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/38d2cab1a5.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <!-- Styles -->
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")
        <script src="../js/page.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>